networks:
  roboshop:
    driver: bridge

services:
  mongodb:
    image: mongodb:v1
    container_name: mongodb
    networks:
      - roboshop

  catalogue:
    image: catalogue:v1
    container_name: catalogue
    networks:
      - roboshop
    depends_on:
      - mongodb
   
  user:
    image: user:v1
    container_name: user
    networks:
      - roboshop
    depends_on:
      - redis
      - mongodb

  cart:
    image: cart:v1
    container_name: cart
    networks:
      - roboshop
    depends_on:
      - redis
  
  shipping:
    image: shipping:v1
    container_name: shipping
    networks:
      - roboshop
    depends_on:
      - mysql

    
  redis:
    image: redis:v1
    container_name: redis
    networks:
      - roboshop

  mysql:
    image: mysql:v1
    container_name: mysql
    networks:
      - roboshop

  rabbitmq:
    image: rabbitmq:v1
    container_name: rabbitmq
    networks:
      - roboshop


  payment:
    image: payment:v1
    container_name: payment
    networks:
      - roboshop
    environment:
      CART_HOST: cart
      CART_PORT: 8080
      USER_HOST: user
      USER_PORT: 8080
      AMQP_HOST: rabbitmq
      AMQP_USER: roboshop
      AMQP_PASS: roboshop123
    depends_on:
      - rabbitmq
      - cart
      - user
    


      
  web:
    image: web:v1
    container_name : web
    networks:
      - roboshop
    ports:
      - 8080:80
    depends_on:
      - catalogue
      - user
      - cart
      - shipping
    



