networks:
  roboshop:
    driver: bridge

services:
  mongodb:
    image: mongodb:v1
    container_name: mongodb
    networks:
      - roboshop

  catalogue:
    image: catalogue:v1
    container_name: catalogue
    networks:
      - roboshop
    depends_on:
      - mongodb
   
  user:
    image: user:v1
    container_name: user
    networks:
      - roboshop
    depends_on:
      - redis
      - mongodb

  cart:
    image: cart:v1
    container_name: cart
    networks:
      - roboshop
    depends_on:
      - redis
    
  redis:
    image: redis:v1
    container_name: redis
    networks:
      - roboshop
      
  web:
    image: web:v1
    container_name : web
    networks:
      - roboshop
    ports:
      - 8080:80
    depends_on:
      - catalogue
      - user
    



